<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nixapp">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".common.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".UI.usuario.misEventos.CrearEvento"></activity>
        <activity
            android:name=".UI.usuario.ayuda.Ayuda"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".UI.usuario.configUsuario.MiPerfil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.usuario.eventosProximos.EventosProximos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.usuario.serviciosContratados.ServiciosProximos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.usuario.misEventos.MisEventos"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".UI.usuario.MenuPrincipalUsuarioGeneral"
            android:label="@string/title_activity_menu_principal_usuario_general" />
        <activity
            android:name=".UI.welcome.CrearCuenta"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.welcome.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.welcome.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.welcome.InicioSesion"
            android:screenOrientation="portrait" />
        <activity android:name=".UI.usuario.serviciosContratados.chat.ChatActivity" />
        <activity android:name=".UI.usuario.Calendario" />
        <activity android:name=".UI.usuario.Tendencias" />
    </application>

</manifest>